.create_facility,
.create_tech,
.create_contract {
    display: none;
}

body {
    background-color: bisque;
}

.role_selection{
    font-size: 40px;
    padding-left: 40%;
    font-weight: bold;
    text-transform: uppercase;
}

#roleModal {
    background-color: white;
    padding: 20px;
    border: 1px solid #0f0808;
}

.operator_role {
    margin-left: 800px;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.customer_role {
    margin-left: 90px;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#roleModal .modal-content button:hover {
    background-color: #45a049;
}

.create_facility input{
    margin-bottom: 8px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease;
}

.create_facility button {
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create_tech input{
    margin-bottom: 8px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease;
}

.create_tech button {
    margin: 10px auto;
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.create_contract input{
    margin-bottom: 8px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease;
}

.create_contract button {
    margin: 10px auto;
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.get_contracts button{
    margin: 10px auto;
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}